@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Lora&display=swap');

html {
    font-size: 12px;
}

body {
    font-family: 'Lora', sans-serif;
    margin: 0rem;
}

nav {
    font-family: 'Karla', sans-serif;
}

.navbar-brand {
    font-size: 6rem !important;
    letter-spacing: -0.25rem;
}

.nav-item {
    font-size: 2rem !important;
    letter-spacing: -0.05rem;
}

.left {
    width: 30%;
    height: 100vh;
    background-image: url('me.jpeg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: block;
    float: left;
}

.right {
    width: 70%;
    height: 100vh;
    display: block;
    float: right;
    overflow: auto;
    font-size: 2rem;
    text-align: left;
}

.main, .about, .work-container, .project-container {
    margin-top: 15.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

table {
    width: 100%;
}

table td {
    vertical-align: top;
}

.company, .location, .date {
    font-size: 1.7rem;
}

.company {
    font-weight: bold;
}

.date {
    text-align: right;
}

.tasks {
    font-size: 1.3rem;
}

.card {
    width: 75%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}