@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Lora&display=swap');

body {
    font-family: 'Karla', sans-serif;
}

.navbar-brand {
    font-size: 70px !important;
    letter-spacing: -2px;
}

.nav-item {
    font-size: 25px !important;
    letter-spacing: -0.5px;
}

p {
    font-family: 'Lora', sans-serif;
    font-size: 2rem;
    margin-top: 12.5rem;
    margin-bottom: 1rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    text-align: left;
}