@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Lora&display=swap');

html {
    font-size: 12px;
}

nav {
    font-family: 'Karla', sans-serif;
}

body {
    font-family: 'Lora', sans-serif;
    padding-top: 4rem;
}

.navbar-brand {
    font-size: 6rem !important;
    letter-spacing: -0.25rem;
}

.nav-item {
    font-family: 'Karla', sans-serif;
    font-size: 2rem !important;
    letter-spacing: -0.05rem;
}

p {
    font-size: 2rem;
    margin-top: 12.5rem;
    margin-bottom: 1rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    text-align: left;
}