@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Lora&display=swap');

html {
    font-size: 12px;
}

body {
    font-family: 'Lora', sans-serif;
    margin: 0rem;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

nav {
    font-family: 'Karla', sans-serif;
}

.navbar-brand {
    font-size: 6rem !important;
    letter-spacing: -0.25rem;
}

.nav-item {
    font-size: 2rem !important;
    letter-spacing: -0.05rem;
}

.left {
    width: 30%;
    height: 100vh;
    background-image: url('../media/me.jpeg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: block;
    float: left;
}

.right {
    width: 70%;
    height: 100vh;
    display: block;
    float: right;
    overflow: auto;
    font-size: 2rem;
    text-align: left;
}

.main, .about, .work-container {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 15.5rem;
    padding-bottom: 1rem;
}

.project-container {
    padding-top: 17rem;
    height: auto;
}

table {
    width: 100%;
}

table td {
    vertical-align: top;
}

.company, .location, .date {
    font-size: 1.7rem;
}

.company {
    font-weight: bold;
}

.date {
    text-align: right;
}

.tasks {
    font-size: 1.3rem;
}

.card {
    max-width: 80%;
    margin: auto;
}

.card-img {
    height: 100%;
    object-fit: cover;
}

.card-text {
    font-size: 1.5rem;
}

.project-body {
    padding-top: 15.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.7rem;
}

#sailr, #sheepdog, #orbital {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: auto; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    color: white;
    backdrop-filter: blur(20px);
    overflow-y: scroll;
  }

  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }